@use '@/styles/globals.scss' as *;

.notFound {
    height: 100vh;
    position: relative;
    padding: 50px clamp(20px, calc(5vw + 10px), 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        text-align: center;
        font-size: 24px;
        font-weight: normal;
    }
    .goToHome {
        .homeButton {
            margin-top: 20px;
            padding: 10px 30px;
            font-size: 14px;
            background-color: $main-color;
            border-radius: var(--radius);
            color: $background-color;
        }
    }
}