@use '@/styles/globals.scss' as *;

.container {
    position: relative;
    width: 200px;
    margin-bottom: 20px;
}

.trigger {
    width: 100%;
    padding: 10px 15px;
    border-radius: var(--radius);
    background-color: $background-color;
    color: $blue-color;
    font-weight: 900;
    font-size: 14px;
    border: 1px solid $blue-color !important;
    box-shadow: var(--shadow-lg);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all .3s;
    &:hover {
        opacity: 0.7;
    }
}

.arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid $blue-color;
}

.dropdown {
    position: absolute;
    top: calc(100% - 14px);
    left: 0;
    width: 100%;
    background: $background-color;
    border-radius: var(--radius);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    list-style: none;
    padding: 0;
    overflow: hidden;
    z-index: 3;

    li {
        padding: 10px 15px;
        font-size: 13px;
        cursor: pointer;
        transition: all .3s;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.active {
    font-weight: 800;
    color: $blue-color;
}