@use '@/styles/globals.scss' as *;

.header {
    position: relative;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $background-color;
    box-shadow: var(--shadow-md);
}

.container {
    position: relative;
    z-index: 6;
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    padding: 0 clamp(20px, calc(5vw + 10px), 50px);
}

.logo {
    width: 80px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: transparent;
}

.menu {
    width: 50px;
    height: 50px;
    background: none;
    .inner {
        position: relative;
        width: 30px;
        height: 30px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        .bar {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $blue-color;
            border-radius: 1px;
            transition: all 0.3s ease;
        }
        .bar1 {
            transform: rotate(45deg) translate(10px, 4px);
        }
        .bar2 {
            opacity: 0;
        }
        .bar3 {
            transform: rotate(-45deg) translate(10px, -4px);
        }
    }
}

.nav {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 20px clamp(20px, calc(5vw + 10px), 50px);
    background-color: $background-color;
    transform: translateY(calc(-100% - 50px));
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: var(--shadow-md);
    ul {
        list-style: none;
        padding: 0;
        li {
            align-items: flex-start;
            display: flex;
            padding: 10px 0;
            font-size: 18px;
            font-weight: 900;
            transition: all 0.3s ease;
            cursor: pointer;
            &.active {
                color: $main-color;
            }
            &:hover {
                color: $text-sub2;
            }
        }
    }
    &.open {
        transform: translateY(0);
        opacity: 1;
    } 
}