@use '@/styles/globals.scss' as *;

.loginButon {
    display: block;
    margin: auto;
    width: fit-content;
    font-size: 12px;
    font-weight: 800;
    color: $background-color;
    text-decoration: none;
    padding: 10px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: $main-color;
    border-radius: var(--radius);
}