@use '@/styles/globals.scss' as *;

.calendar {
    width: 100%;
    margin-top: 40px;
}

.dots {
    display: flex;
    justify-content: center;
    gap: 3px;
    margin-top: 5px;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.more {
    font-size: 10px;
    font-weight: 700;
    color: $text-sub;
    line-height: 5px;
}

.dateContainer {
    margin: 20px 0 50px;
    padding: 10px;
    background-color: #ebf0ff;
    border-radius: var(--radius);
    text-align: center;
    p {
        font-weight: 900;
        &.selectedDate {
            color: $blue-color;
        }
    }
}

.titleContainer {
        display: flex;
        justify-content: space-between;
        z-index: 3;
        justify-self: center;
        width: 100%;
        max-width: 1000px;
        background-color: $background-color;
        .scheduleTitle {
                font-size: 16px;
                max-width: 900px;
                width: calc(100% - 100px);
        }
        .registrationButton {
                background-color: $main-color;
                font-weight: 900;
                padding: 0 30px;
                border-radius: var(--radius);
                color: $background-color;
        }
}

.todayButton {
    margin-top: 20px;
    display: flex;
    justify-self: end;
    height: 32px;
    padding: 0 20px;
    font-weight: 900;
    line-height: 30px;
    border-radius: var(--radius);
    border: 1px solid $blue-color !important;
    background-color: $blue-color;
    color: $background-color;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    justify-self: center;
    width: 100%;
    max-width: 1000px;
    button {
        width: fit-content;
        font-size: 12px;
        font-weight: 800;
        color: $text-sub;
        padding: 10px 20px;
        border-radius: var(--radius);
        background-color: $sub-color;
        &.groupJoinButton {
            margin-left: 20px;
        }
        &.approveButton {
            color: $background-color;
            background-color: $main-color;
        }
    }
}

.eventList {
    margin: 20px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.eventItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    .title {
        max-width: calc(100% - 120px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 30px;
    }
}

.colorDot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 10px 0;
}

.deleteButton {
    margin-left: auto;
    padding: 0 20px;
    height: 30px;
    border-radius: var(--radius);
    background-color: $background-color;
    color: $blue-color;
    font-weight: 900;
    font-size: 14px;
    border: 1px solid $blue-color !important;
}

.alertOverlay {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: var(--height);
    background-color: rgba(0,0,0,0.3);
}

.alert {
    min-width: 230px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--shadow-lg);
    background-color: $background-color;
    padding: 20px;
    border-radius: var(--radius);
    .alertHeader {
        margin-bottom: 30px;
        padding-bottom: 20px;
        text-align: center;
        border-bottom: 2px solid #ebf0ff;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 10px;
    }
    p {
        width: 100%;
        text-align: center;
        font-size: 12px;
        margin: 0;
    }
    .buttonContainer {
        justify-content: space-between;
        margin-top: 30px;
    }
}

.inputText {
    min-width: 245px;
    margin-bottom: 20px;
    label {
        display: block;
        font-size: 14px;
        margin-bottom: 10px;
        color: $blue-color;
    }
    input {
        width: 100%;
        font-size: 16px;
    }
}

.errorMessage {
    margin-top: 10px;
    font-size: 12px;
    color: $red-color;
}